

body {
    font-family: 'Roboto', sans-serif;
    background: #f3f6f5;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h3 {
    font-weight:bold;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    box-shadow: none !important;
    outline: none !important;
    border: none;
    height:40px;
    z-index: 2;
}

.btn-info{
    background:#CDCDDF;
    border: none;
}
.btn-info:hover {
    background-color: #6060ad;
    border:none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #CDCDDF;
    color: #000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #CDCDDF;
}

#sidebar ul.components {
    font-size: 1em;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    font-weight: bold;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e8e8f8;
    ;
}

ul.settings {
    bottom: 0;
    position: absolute;
    display: block;
}

ul.settings a {
    display: block;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.heading {
    border-bottom: 1px solid #CDCDDF;
    margin: 2em 0 5em;
}
.card {
    margin: 25px 0;
}
.btn.btn-primary {
    background-color:#6060ad;
    color:#ffffff;
    border: 1px solid #6060ad;
    }

.btn.btn-primary:hover{
    background-color: #45458d;
    border:1px solid #45458d;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    button {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        display:none;
    }
}